.main_list {
    margin-bottom: 3em;
    overflow: auto;
    float: none;
}

.main_list-h2 {
    text-align: center;
    font-size: 1.1em;
}

.table {
    min-height: 10vh;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 1);
    border-collapse: collapse;
    margin: 3% auto 3% auto;
    text-align: center;
}

.table-thead {
    width: 100%;
    background-color: rgba(129, 109, 211, 0.3);
    border-color: rgba(0, 0, 0, 1);
}

.main_list-tbody_header_row {
    border: 1px solid rgba(0, 0, 0, 1)k;
    background-color: rgb(107, 68, 68);
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.table-tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.table-tbody td {
    padding: 0.1em 0.2em;
}

.table-tbody tr:hover {
    color: rgba(255, 15, 0, 0.8);
    opacity: 0.95;
}

.table-tbody>tr:nth-child(even) {
    background-color: rgba(156, 142, 90, 1);
}

.table-tbody>tr:nth-child(odd) {
    background-color: rgba(215, 165, 0, 0.9);
}

.aside_list {
    min-width: 16%;
    background-color: rgba(255, 15, 0, 0.8);
    min-height: 10em;
    float: left;
}   